@import "../Utils/utils.scss";

.appear {
  position: absolute;
  transform: translateY(100%);
  opacity: 0.05;
}
.appearActive {
  transform: translateY(50%);
  opacity: 0.05;
  transition: all 300ms ease;
}

.appearDone {
  transform: translateY(0);
  opacity: 1;
  transition: all 300ms ease;
}

// .enter {
//   transform: translateY(-100%);
//   opacity: 1;
// }
// .enterActive {
//   transform: translateY(0);
//   opacity: 0.1;
//   transition: all 300ms ease-in-out;
// }

.exit {
  transform: translateY(0);
  opacity: 1;
}
.exitActive {
  transform: translateY(100%);
  opacity: 0.1;
  transition: all 300ms ease-in;
}

//// old style
/* alert */
.alert-enter {
  opacity: 0;
  transform: translateX(100%);
}

.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 500ms linear;
}

.alert-exit {
  opacity: 1;
  transform: translateX(0);
}

.alert-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: all 500ms linear;
}

/* fade */
.fade-enter {
  transform: translateX(100%);
}

.fade-enter-active {
  transform: translateX(0);
  transition: transform 250ms linear;
}

.fade-exit {
  transform: translateX(0);
}

.fade-exit-active {
  transform: translateX(100%);
  transition: transform 250ms linear;
}

/* fade-apper */
.fadeX-appear {
  opacity: 0;
  transform: translateX(-100%);
}

.fadeX-appear-active {
  opacity: 1;
  transform: translateX(0);
  transition: transform 500ms linear;
}

.fadeY-appear {
  opacity: 0;
  transform: translateX(100%);
}

.fadeY-appear-active {
  opacity: 1;
  transform: translateX(0);
  transition: transform 500ms linear;
}

/* fade-scale-appear */
.fade-scale-appear {
  opacity: 0;
  transform: scale(0.1);
}

.fade-scale-appear-active {
  opacity: 1;
  transform: scale(1);
  transition: transform 500ms linear;
}

.fade-scale-plus-appear {
  opacity: 0;
  transform: scale(1.5);
}

.fade-scale-plus-appear-active {
  opacity: 1;
  transform: scale(1);
  transition: transform 2500ms linear;
}
