.App {
  font-family: Comic Sans MS;
  min-height: 100vh;
}

.container {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-color: #fff;
  border-color: #fff;

  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1360px;
    padding: 30px;
  }
}

/* alert */
.alert-enter {
  opacity: 0;
  transform: translateX(100%);
}

.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 500ms linear;
}

.alert-exit {
  opacity: 1;
  transform: translateX(0);
}

.alert-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: all 500ms linear;
}

/* fade */
.fade-enter {
  transform: translateX(100%);
}

.fade-enter-active {
  transform: translateX(0);
  transition: transform 250ms linear;
}

.fade-exit {
  transform: translateX(0);
}

.fade-exit-active {
  transform: translateX(100%);
  transition: transform 250ms linear;
}

/* fade-apper */
.fadeX-appear {
  opacity: 0;
  transform: translateX(-100%);
}

.fadeX-appear-active {
  opacity: 1;
  transform: translateX(0);
  transition: transform 500ms linear;
}

.fadeY-appear {
  opacity: 0;
  transform: translateX(100%);
}

.fadeY-appear-active {
  opacity: 1;
  transform: translateX(0);
  transition: transform 500ms linear;
}

/* fade-scale-appear */
.fade-scale-appear {
  opacity: 0;
  transform: scale(0.1);
}

.fade-scale-appear-active {
  opacity: 1;
  transform: scale(1);
  transition: transform 500ms linear;
}

.fade-scale-plus-appear {
  opacity: 0;
  transform: scale(1.5);
}

.fade-scale-plus-appear-active {
  opacity: 1;
  transform: scale(1);
  transition: transform 2500ms linear;
}

/*  @media screen and (max-width: 767px) {
    font-size: 14px;
    line-height: 3.2;
  }
  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 2.5;
  }
  @media screen and (min-width: 1280px) {
    font-size: 24px;
    line-height: 1.8;
  }
  @media screen and (max-width: 768px) and (min-width: 128px) {
    font-size: 24px;
    line-height: 1.8;
  } 
  @media not|only mediatype and (mediafeature and|or|not mediafeature) {
  CSS-Code;
  }
*/
